@import '../../scss/variables';

.content-display{
    background-color: $dark-grey;   
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-display__generated-text{
    font-size: 1.5rem;
    color: $silver;
}
.content-display__copy-icon:hover{
    .copy-icon {
        filter:
            brightness(0) 
            saturate(100%) 
            invert(92%) 
            sepia(9%) 
            saturate(76%) 
            hue-rotate(212deg) 
            brightness(100%) 
            contrast(91%);
    }
    cursor: pointer;
}
.toast-progress{
    background: $green;
}
.toast-style{
    font-family:$font-jb-variable;
    color:$silver;
    background: $dark-grey;
    
}
.toast-icon{
    filter:
            brightness(0) 
            saturate(100%) 
            invert(87%) 
            sepia(12%) 
            saturate(1259%)
            hue-rotate(69deg)
            brightness(105%) 
            contrast(101%);
}
