/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colours */
/* strength bar colours */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #0e0d12;
  font-family: "Jet-Brains-Mono", sans-serif;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.app {
  text-align: center;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colours */
/* strength bar colours */
.app__title {
  padding-top: 5.9em;
  padding-bottom: 0.4em;
  color: #807c92;
  font-size: 1em;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colours */
/* strength bar colours */
.content-parameters {
  background-color: #24232b;
  margin-top: 1em;
  padding: 1em 1em;
}
.content-parameters .content-parameters__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-parameters .content-parameters__content-header .content-header__description {
  font-size: 1rem;
  color: #e7e6eb;
}
.content-parameters .content-parameters__content-header .content-header__output {
  font-size: 1.5rem;
  color: #a3ffae;
}
.content-parameters .content-parameters__slider {
  width: 100%;
  height: 0.4em;
  color: #a3ffae;
}
.content-parameters .content-parameters__slider .MuiSlider-thumb {
  color: #e7e6eb;
  outline-style: solid;
  outline-width: 0.13em;
  box-shadow: none;
  outline-color: #e7e6eb;
  box-shadow: none;
}
.content-parameters .content-parameters__slider .MuiSlider-thumb:hover {
  color: #0e0d12;
  box-shadow: none;
  outline-color: #a3ffae;
}
.content-parameters .content-parameters__slider .MuiSlider-rail {
  color: #0e0d12;
  background-color: #0e0d12;
  height: 0.6em;
  box-shadow: none;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colours */
/* strength bar colours */
.content-display {
  background-color: #24232b;
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-display__generated-text {
  font-size: 1.5rem;
  color: #e7e6eb;
}

.content-display__copy-icon:hover {
  cursor: pointer;
}
.content-display__copy-icon:hover .copy-icon {
  filter: brightness(0) saturate(100%) invert(92%) sepia(9%) saturate(76%) hue-rotate(212deg) brightness(100%) contrast(91%);
}

.toast-progress {
  background: #a3ffae;
}

.toast-style {
  font-family: "Jet-Brains-Mono", sans-serif;
  color: #e7e6eb;
  background: #24232b;
}

.toast-icon {
  filter: brightness(0) saturate(100%) invert(87%) sepia(12%) saturate(1259%) hue-rotate(69deg) brightness(105%) contrast(101%);
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colours */
/* strength bar colours */
.checkbox .checkbox__label {
  padding: 0em 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #e7e6eb;
}
.checkbox .checkbox__label .checkbox__content {
  color: #e7e6eb;
  margin-right: 0.6em;
}
.checkbox .checkbox__label .checkbox__content.Mui-checked {
  color: #a3ffae;
}
.checkbox .checkbox__label .checkbox__content.MuiButtonBase-root:hover {
  color: #a3ffae;
  box-shadow: none;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colours */
/* strength bar colours */
.sub-content-display {
  margin-top: 1.5em;
  font-family: "Jet-Brains-Mono-Bold", sans-serif;
  color: #e7e6eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0 1.1em;
  background-color: #0e0d12;
}
.sub-content-display .sub-content-display__title {
  color: #807c92;
  font-size: 1em;
}
.sub-content-display .sub-content-display__info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  width: 48%;
}
.sub-content-display .sub-content-display__info .info__status {
  width: 100%;
  /* width: 10em; */
}
.sub-content-display .sub-content-display__info .info__strength-bar {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-end;
  transition: all 0.5s ease;
}
.sub-content-display .sub-content-display__info .info__strength-bar .bar {
  height: 1em;
  width: 0.28em;
  outline-style: solid;
  outline-color: #e7e6eb;
  outline-width: 0.15rem;
  margin-right: 0.55em;
  align-self: center;
}
.sub-content-display .sub-content-display__info .info__strength-bar .bar.too-weak {
  background-color: #f64a4a;
  outline-color: #f64a4a;
}
.sub-content-display .sub-content-display__info .info__strength-bar .bar.weak {
  background-color: #fb7c58;
  outline-color: #fb7c58;
}
.sub-content-display .sub-content-display__info .info__strength-bar .bar.medium {
  background-color: #f8cd65;
  outline-color: #f8cd65;
}
.sub-content-display .sub-content-display__info .info__strength-bar .bar.strong {
  background-color: #a3ffae;
  outline-color: #a3ffae;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colours */
/* strength bar colours */
.button {
  text-transform: uppercase;
  font-family: "Jet-Brains-Mono-Bold", sans-serif;
  margin-top: 1.1em;
  background-color: #a3ffae;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
  border: 0.11em solid #24232b;
}
.button .button__text {
  margin-right: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: #24232b;
  border: 0.11em solid #a3ffae;
}
.button:hover .button__text {
  color: #a3ffae;
}
.button:hover .button__img img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(46%) saturate(327%) hue-rotate(67deg) brightness(101%) contrast(103%);
}