/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colors */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #0e0d12;
  font-family: "Jet-Brains-Mono", sans-serif;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
}

.app {
  text-align: center;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colors */
.app__title {
  padding-top: 3.8em;
  padding-bottom: 0.4em;
  color: #807c92;
  font-size: 1em;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colors */
.content-parameters {
  background-color: #24232b;
  margin-top: 1em;
  padding: 1em 1em;
}
.content-parameters .content-parameters__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-parameters .content-parameters__content-header .content-header__description {
  font-size: 1rem;
  color: #e7e6eb;
}
.content-parameters .content-parameters__content-header .content-header__output {
  font-size: 1.5rem;
  color: #a3ffae;
}
.content-parameters .content-parameters__slider {
  width: 100%;
  height: 0.4em;
  color: #a3ffae;
}
.content-parameters .content-parameters__slider .MuiSlider-thumb {
  color: #e7e6eb;
  outline-style: solid;
  outline-width: 0.13em;
  box-shadow: none;
  outline-color: #e7e6eb;
  box-shadow: none;
}
.content-parameters .content-parameters__slider .MuiSlider-thumb:hover {
  color: #0e0d12;
  box-shadow: none;
  outline-color: #a3ffae;
}
.content-parameters .content-parameters__slider .MuiSlider-rail {
  color: #0e0d12;
  background-color: #0e0d12;
  height: 0.6em;
  box-shadow: none;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colors */
.content-display {
  background-color: #24232b;
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-display__generated-text {
  font-size: 1.5rem;
  color: #e7e6eb;
}

.content-display__copy-icon:hover {
  cursor: pointer;
}
.content-display__copy-icon:hover .copy-icon {
  filter: brightness(0) saturate(100%) invert(92%) sepia(9%) saturate(76%) hue-rotate(212deg) brightness(100%) contrast(91%);
}

.toast-progress {
  background: #a3ffae;
}

.toast-style {
  font-family: "Jet-Brains-Mono", sans-serif;
  color: #e7e6eb;
  background: #24232b;
}

.toast-icon {
  filter: brightness(0) saturate(100%) invert(87%) sepia(12%) saturate(1259%) hue-rotate(69deg) brightness(105%) contrast(101%);
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colors */
.checkbox .checkbox__label {
  padding: 0em 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #e7e6eb;
}
.checkbox .checkbox__label .checkbox__content {
  color: #e7e6eb;
  margin-right: 0.6em;
}
.checkbox .checkbox__label .checkbox__content.Mui-checked {
  color: #a3ffae;
}
.checkbox .checkbox__label .checkbox__content.MuiButtonBase-root:hover {
  color: #a3ffae;
  box-shadow: none;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colors */
.sub-content-display {
  margin-top: 1.5em;
  font-family: "Jet-Brains-Mono-Bold", sans-serif;
  color: #e7e6eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0 1em;
  background-color: #0e0d12;
}
.sub-content-display .sub-content-display__title {
  color: #807c92;
  font-size: 1em;
}
.sub-content-display .sub-content-display__info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.sub-content-display .sub-content-display__info .info__status {
  margin-right: 1em;
}
.sub-content-display .sub-content-display__info .info__bar {
  position: absolute;
  bottom: 0;
  min-height: 8px;
  line-height: 8px;
  z-index: 10;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .sub-content-display .sub-content-display__info .info__bar {
    bottom: 104px;
  }
}
.sub-content-display .sub-content-display__info .info__bar.veryWeak {
  background-color: #d63031;
  width: 17.2%;
}
.sub-content-display .sub-content-display__info .info__bar.weak {
  background-color: #d63031;
  width: 34.4%;
}
.sub-content-display .sub-content-display__info .info__bar.medium {
  background-color: #f39c12;
  width: 51.6%;
}
.sub-content-display .sub-content-display__info .info__bar.strong {
  background-color: #2ecc71;
  width: 68.8%;
}
.sub-content-display .sub-content-display__info .info__bar.veryStrong {
  background-color: #2ecc71;
  width: 86%;
}
@media screen and (max-width: 768px) {
  .sub-content-display .sub-content-display__info .info__bar.veryStrong {
    width: 100%;
  }
}
.sub-content-display .sub-content-display__info .secure-bar-background {
  position: absolute;
  bottom: 0;
  min-height: 8px;
  line-height: 8px;
  width: 86%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .sub-content-display .sub-content-display__info .secure-bar-background {
    bottom: 104px;
    width: 100%;
  }
}
.sub-content-display .sub-content-display__info .secure-bar-background.veryWeak, .sub-content-display .sub-content-display__info .secure-bar-background.weak {
  background-color: #e99990;
}
.sub-content-display .sub-content-display__info .secure-bar-background.medium {
  background-color: #f3e1c7;
}
.sub-content-display .sub-content-display__info .secure-bar-background.strong, .sub-content-display .sub-content-display__info .secure-bar-background.veryStrong {
  background-color: #c2e4d0;
}

/* fonts*/
@font-face {
  font-family: "Jet-Brains-Italics";
  src: url("../../public/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono";
  src: url("../../public/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Jet-Brains-Mono-Bold";
  src: url("../../public/fonts/static/JetBrainsMono-Bold.ttf") format("truetype");
}
/* colors */
.button {
  text-transform: uppercase;
  font-family: "Jet-Brains-Mono-Bold", sans-serif;
  margin-top: 1.1em;
  background-color: #a3ffae;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1em;
  border: 0.11em solid #24232b;
}
.button .button__text {
  margin-right: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: #24232b;
  border: 0.11em solid #a3ffae;
}
.button:hover .button__text {
  color: #a3ffae;
}
.button:hover .button__img img {
  filter: brightness(0) saturate(100%) invert(83%) sepia(46%) saturate(327%) hue-rotate(67deg) brightness(101%) contrast(103%);
}